body {
    margin: 0;
    background: #19191B;
    color: white;
    font-family: Lato, serif;
    padding: 2vh 10vw 2vh 10vw;
    width: 80vw;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.logo > img {
    margin: 0 5px -10px 0;
}

.navBar > a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 18px;
}

.navBar > a:hover {
    color: #5454D4;
}

.contactUs {
    background: none;
    width: 157px;
    height: 44px;
    color: white;
    font-size: 16px;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.contactUs:hover {
    color: #5454D4;
    border: 1px solid #5454D4;
}

.slide1 {
    margin-top: -5vh;
    font-weight: 400;
    height: 90vh;
}
h1 {
    font-size: 80px;
    line-height: 105%;
}

p {
    font-size: 21px;
    font-weight: 400;
    line-height: 185.714%;
    letter-spacing: -0.657px;
    color: rgba(255, 255, 255, 0.70);
}

main button {
    border: none;
    border-radius: 4px;
    background: #5454D4;
    color: white;
    width: 204px;
    height: 58px;
    font-size: 20px;
    font-weight: 700;
}

main button:hover {
    background: #5c5cd5;
    box-shadow: 3px 20px 46px -20px rgb(92, 92, 213)
}


.text {
    width: 100%;
    align-items: start;
}

.slide2 {
    height: 100vh;
}

.text > h2 {
    width: 40%;
    font-size: 60px;
    line-height: 116.667%;
    margin: 0;
}

.text > p {
    display: flex;
    justify-content: start;
    width: 40%;
    align-items: flex-end;
}

.slide2 > img {
    width: 100%;
    height: 70%;
    margin-top: 5%;
}

.slide3 {
    height: 100vh;
}

.slide3 > h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    line-height: 116.667%;
}

article {
    width: 80vw;
    flex-wrap: wrap;
}

article > div {
    width: 30%;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

.circle {
    width: 69px;
    height: 69px;
    border-radius: 50%;
}

.purple {
    background: rgba(84, 84, 212, 0.10);
}

.red {
    background: rgba(240, 64, 55, 0.10);
}

.yellow {
    background: rgba(254, 220, 90, 0.10);
}
.slide4 {
    height: 100vh;
    flex-direction: column;
}
.slide4 > h2 {
    font-size: 58px;
    font-weight: 800;
}
.slide4 img {
    width: 30%;
    box-shadow: 0 0 0 19px #1E1E20;
    border-radius: 14px;
}
.contactBackground {
    width: 100vw;
    height: 30%;
    background: rgba(32, 30, 32, 0.5);
}
.contactsBlock {
    width: 80%;
}
.contactsBlock > h3 {
    width: 60%;
    font-size: 60px;
    font-weight: 400;
}
footer {
    height: 20vh;
}
footer p:nth-child(-n+4) {
    display: none;
}
footer p {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height:237.5%;
    letter-spacing: -0.5px;
}

